}.flaticon-auricular:before {
	content: "\e000";
}
.flaticon-black57:before {
	content: "\e001";
}
.flaticon-celebration2:before {
	content: "\e002";
}
.flaticon-celebration7:before {
	content: "\e003";
}
.flaticon-chef10:before {
	content: "\e004";
}
.flaticon-cooking5:before {
	content: "\e005";
	color: #c6c6c6; 
	font-weight: 100; 
	font-size: 25px;
	float: right;
	position: relative;
	top: 20px;
	overflow: hidden;
	padding-right: 13px;
}
.flaticon-couple39:before {
	content: "\e006";
}
.flaticon-couple39_1:before {
	content: "\e006";
	float: right;
	padding-right: 29px;
	color: #c6c6c6; 
	font-size: 36px; 
	font-weight: 100; 
	position: relative; 
	top: 12px; 
	display: block; 
	height: 28px; 
	width: 25px;
}
.flaticon-couple39_2:before {
	content: "\e006";
	float: right;
	padding-right: 29px;
	color: #c6c6c6; 
	font-size: 36px; 
	font-weight: 100; 
	position: relative; 
	top: 18px; 
	display: block; 
	height: 25px; 
	width: 25px;

}
.flaticon-couple39_3:before {
	content: "\e006";
}
.flaticon-couple39_4:before {
	content: "\e006";
}
.flaticon-couple39_5:before {
	content: "\e006";
}
.flaticon-couple39_6:before {
	content: "\e006";
}
.flaticon-cup10:before {
	content: "\e007";
}
.flaticon-email19:before {
	content: "\e008";
}
.flaticon-email22:before {
	content: "\e009";
}
.flaticon-email3:before {
	content: "\e00a";
}
.flaticon-emergency2:before {
	content: "\e00b";
}
.flaticon-envelope1:before {
	content: "\e00c";
}
.flaticon-fish2:before {
	content: "\e00d";
	color: #c6c6c6; 
	font-size: 43px; 
	font-weight: 100; 
	position: relative; 
	top: 57px; 
	float: right;
	padding-right: 33px;
	width: 25px;
	height: 25px;
	display: block;
}
.flaticon-fork12:before {
	content: "\e00e";
	color: #c6c6c6; 
	font-size: 57px; 
	font-weight: 100; 
	position: relative; 
	top: 46px; 
	left: 558px; 
	width: 25px;
	display: block; 
}
.flaticon-fried:before {
	content: "\e00f";
}
.flaticon-grapes4:before {
	content: "\e010";
}
.flaticon-group12:before {
	content: "\e011";
}
.flaticon-group42:before {
	content: "\e012";
}
.flaticon-group44:before {
	content: "\e013";
}
.flaticon-help5:before {
	content: "\e014";
}
.flaticon-help7:before {
	content: "\e015";
}
.flaticon-icecream5:before {
	content: "\e016";
	padding-right: 22px;
	color: #c6c6c6; 
	font-size: 38px; 
	font-weight: 100; 
	position: relative; 
	top: 57px; 
	float: right;
	display: block; 
	width: 25px;
	height: 25px;
}
.flaticon-info6:before {
	content: "\e017";
}
.flaticon-information11:before {
	content: "\e018";
	font-size: 30px;
	color: #CCC;
    /* By default, browsers would have set this as content-box */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
   	transition-delay: 0s;
	transition-duration: 0.5s;
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-delay: 0s; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */		
}
.flaticon-information11:hover:before {
	content: "\e018";
	font-size: 30px;
	color: #820000;
    /* By default, browsers would have set this as content-box */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
   	transition-delay: 0s;
	transition-duration: 0.5s;
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-delay: 0s; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */	
}
.flaticon-information3:before {
	content: "\e019";
}
.flaticon-leaves4:before {
	content: "\e01a";
}
.flaticon-lock:before {
	content: "\e01b";
	font-size: 25px;
	vertical-align: sub;
    /* By default, browsers would have set this as content-box */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
   	transition-delay: 0s;
	transition-duration: 0.5s;
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-delay: 0s; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */			

}
.flaticon-lock:hover:before {
	content: "\e01b";
	font-size: 25px;
	vertical-align: sub;
	color: #820000;
    /* By default, browsers would have set this as content-box */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
   	transition-delay: 0s;
	transition-duration: 0.5s;
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-delay: 0s; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */		
}
.flaticon-lock10:before {
	content: "\e01c";
}
.flaticon-lock6:before {
	content: "\e01d";
}
.flaticon-lock8:before {
	content: "\e01e";
}
.flaticon-mail19:before {
	content: "\e01f";
}
.flaticon-male50:before {
	content: "\e020";
}
.flaticon-meat2:before {
	content: "\e021";
}
.flaticon-meat4:before {
	content: "\e022";
	color: #c6c6c6; 
	font-size: 60px; 
	font-weight: 100; 
	position: relative; 
	top: 47px; 
	display: block; 
	height: 25px; 
	width: 25px;
	float: right;
	padding-right: 40px;
}
.flaticon-menu8:before {
	content: "\e023";
}
.flaticon-mobile26:before {
	content: "\e024";
}
.flaticon-new1:before {
	content: "\e025";
}
.flaticon-noodle:before {
	content: "\e026";
}
.flaticon-office:before {
	content: "\e027";
}
.flaticon-open8:before {
	content: "\e028";
}
.flaticon-phone17:before {
	content: "\e029";
}
.flaticon-phone31:before {
	content: "\e02a";
}
.flaticon-phone34:before {
	content: "\e02b";
}
.flaticon-phone46:before {
	content: "\e02c";
}
.flaticon-phone5:before {
	content: "\e02d";
}
.flaticon-pictures:before {
	content: "\e02e";
}
.flaticon-pictures1:before {
	content: "\e02f";
}
.flaticon-press4:before {
	content: "\e030";
}
.flaticon-printer11:before {
	content: "\e031";
}
.flaticon-restaurant2:before {
	content: "\e032";
	color: #c6c6c6; 
	font-weight: 100; 
	font-size: 25px;
	float: right;
	position: relative;
	top: 20px;
	overflow: hidden;
	padding-right: 13px;
}
.flaticon-restaurant3:before {
	content: "\e032";
	color: #c6c6c6; 
	font-weight: 100; 
	font-size: 25px;
	float: right;
	position: relative;
	top: 20px;
	overflow: hidden;
	padding-right: 25px;
}
.flaticon-restaurant20:before {

	float: right;
	padding-right: 33px;
	width: 25px;
	height: 25px;

	content: "\e032";
	color: #c6c6c6; 
	font-size: 25px; 
	font-weight: 100; 
	position: relative; 
	top: 70px; 
	display: block; 
}
.flaticon-salt3:before {
	content: "\e033";
}
.flaticon-searching2:before {
	content: "\e034";
}
.flaticon-spaghetti1:before {
	content: "\e035";
}
.flaticon-square18:before {
	content: "\e036";
}
.flaticon-the7:before {
	content: "\e037";
}
.flaticon-thigh:before {
	content: "\e038";
}
